footer{
    position: relative;
    background-color: black;
    height: 300px;
    width: 100vw;
    margin: 0;
    padding: 1px;
    text-align: center;
    }

footer p{
    display: inline;
    color: white;
    size: 0;
}
/*
@media screen and (max-width: 360px){    
    footer{
        height: 100px;
        padding: 2px;
    }
}*/

@media screen and (min-width: 360px){    
    footer{
        height: 30px;
        padding: 20px;
    }
}
