body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.window{
    position: relative;
    background-color: red;
    min-height: 93vh;
    min-width: 100vw;
    padding-top: 7vh;
    height: 100%;
    width: 100%;
}

.content{
    position: relative;
    background-color: cyan;
    height: min-content;
    padding: 5%;
    padding-bottom: 50px;
    width: 90%;
    max-width: 100%;
    min-height: 100%;
    align-content: center;
}

.content-box{
    background-color: blanchedalmond;
    display: inline-grid;
    height: min-content;
    min-height: 23em;
    padding: 25px;
    font-family: Garamond;
}

.content-box{
    width: 40%;
    min-width: 360px;
}

h2{
    text-align: center;
    margin: 1px;
    padding-bottom: 0;
}

.grid-img{
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
    padding: 6px;
    justify-content: center;
}

.image{
    width: auto;
    height: auto;
    margin: 2px;
    background-color: white;
}